<label class="sidebar-label pd-x-10 mg-t-25 mg-b-20 tx-info">Relatório de atividades</label>

<div class="info-list">
  <div class="info-list-item">
    <div>
      <p class="info-list-label">horas extras</p>
      <h5 class="info-list-amount">12 <small>HRS</small></h5>
    </div>
    <span class="peity-bar" data-peity='{ "fill": ["#336490"], "height": 35, "width": 60 }'>8,6,5,9,8,109</span>
  </div><!-- info-list-item -->
  <div class="info-list-item">
    <div>
      <p class="info-list-label">Trocas de turno</p>
      <h5 class="info-list-amount">8 <small> TROCAS</small></h5>
    </div>
    <span class="peity-bar" data-peity='{ "fill": ["#1C7973"], "height": 35, "width": 60 }'>4,3,5,7,12,10,4,5,11,7</span>
  </div><!-- info-list-item -->
  <div class="info-list-item">
    <div>
      <p class="info-list-label">Mensagens</p>
      <h5 class="info-list-amount">30 <small> MSG</small></h5>
    </div>
    <span class="peity-bar" data-peity='{ "fill": ["#8E4246"], "height": 35, "width": 60 }'>1,2,1,3,2,10,4,12,7</span>
  </div><!-- info-list-item -->
</div><!-- info-list -->
