<label class="sidebar-label pd-x-10 mg-t-20 op-3">Navigation</label>
<ul class="br-sideleft-menu">
    <% if user_signed_in? %>
    <li class="br-menu-item">
      <a href='<%= "/users/#{current_user.id}" %>' class="br-menu-link active">
        <i class="menu-item-icon icon ion-ios-home-outline tx-24"></i>
        <span class="menu-item-label">Meu perfil</span>
      </a><!-- br-menu-link -->
    </li><!-- br-menu-item -->
    <li class="br-menu-item">
      <a href="/users/searches" class="br-menu-link">
        <i class="menu-item-icon icon ion-search tx-24"></i>
        <span class="menu-item-label">Pesquisar Turnos</span>
      </a><!-- br-menu-link -->
    </li><!-- br-menu-item -->
  <li class="br-menu-item">
    <a href="#" class="br-menu-link">
      <i class="menu-item-icon icon ion-ios-chatboxes-outline tx-24"></i>
      <span class="menu-item-label">Mensagens</span>
    </a><!-- br-menu-link -->
  </li><!-- br-menu-item -->
  <% end %>
  <% if admin_signed_in? %>
    <li class="br-menu-item">
        <a href="/company/collaborators" class="br-menu-link">
        <i class="menu-item-icon icon ion-ios-contact-outline tx-24"></i>
        <span class="menu-item-label">Colaboradores</span>
      </a><!-- br-menu-link -->
    </li><!-- br-menu-item -->
  <% end %>
</ul><!-- br-sideleft-menu -->
